<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="sources/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="sources/css/bootstrap.min.css" />
    <script th:inline="javascript">
        var single = [[${singlePerson}]];
        console.log(single.name + "/" + single.age);
        function getName(name) {
            console.log(name);

        }


    </script>
</head>
<body>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">访问model</h3>
    </div>
    <div class="panel-body">
        <span th:text="${singlePerson.name}"></span>
    </div>
    <div th:if="${not #lists.isEmpty(people)}">
        <div class="panel panel-primary">
            <h3 class="panel-title">列表</h3>
        </div>
        <div class="panel-body">
            <ul class="panel-group">
                <li class="list-group-item" th:each="person:${people}">
                    <span th:text="${person.name}"></span>
                    <span th:text="${person.age}"></span>
                    <button class="form-control" th:onclick="'getName(\''+${person.name}+'\')'">获得名字</button>
                </li>
            </ul>
        </div>
        <div class="panel-group">
            <label class="form-control" th:text="${hello}"></label>
            <label class="form-control" th:text="${count}"></label>
            <!--<label class="form-control" th:text="${properties}"></label>-->
        </div>
    </div>
</div>
网页：<input type="url" list="url_list" name="link" />
<datalist id="url_list">
    <option label="W3School" value="http://www.w3school.com.cn" />
    <option label="Google" value="http://www.google.com" />
    <option label="Microsoft" value="http://www.microsoft.com" />
</datalist>
<input type="submit" />
</body>
</html>